{% extends "Dashbord/base.html" %}
{% block title %}
  Add Teacher
{% endblock%}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Course Requirment</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                href="teachers.html">Filup atlist 1 field</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include "msg.html" %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Fill Atlist 1 field!</span></h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Course</label>
                                        <select
                                            name="course_id"
                                            class="form-control">
                                            <option selected value="{{course_first.id}}">{{course_first.title_1}}</option>                                         
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label> Point1</label>
                                        <input type="text" name="point1" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label> Point2</label>
                                        <input type="text" name="point2" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label> Point3</label>
                                        <input type="text" name="point3" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn
                                        btn-primary">Save Course</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}