{% extends "Dashbord/base.html" %}
{% block title %}
  Add Teacher
{% endblock%}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Update Course Lesson</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                href="teachers.html">Course Lesson</a></li>
                        <li class="breadcrumb-item active">Update
                            Course Lesson</li>
                    </ul>
                </div>
            </div>
        </div>
        {% include "msg.html" %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Basic
                                            Details</span></h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Course</label>
                                        <select
                                            name="course_id"
                                            class="form-control">
                                            <option value="{{lesson.course.id}}">{{lesson.course.title_1}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label> Lesson Name</label>
                                        <input type="text" value="{{lesson.name}}" name="lesson_name" class="form-control">
                                    </div>
                                </div> 
                                <div class="col-12">
                                    <button type="submit" class="btn
                                        btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}