{% extends "Dashbord/base.html" %}
{% load static %}
{% block tile %}
Teachers List
{% endblock tile %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Student Messges</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                href="{% url 'hod:hod_dashbord' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Student Messges</li>
                    </ul>
                </div>
            </div>
        </div>
        {% include "msg.html" %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover
                                table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Messege</th>
                                        <th>Read Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in messeges %}

                                    <tr>
                                        <td>
                                            <h2
                                                class="table-avatar">
                                                
                                                <a
                                                    href="teacher-details.html">{{i.name}}</a>
                                            </h2>
                                        </td>
                                        <td>{{i.email}}</td>
                                        <td>{{i.message|slice:":20"}}...</td>
                                        {% if i.is_read %}
                                        <td><span class="badge badge-success">Readed</span></td>
                                        {% else %}
                                        <td><span class="badge
                                                    badge-danger">Not Read</span></td>
                                        {% endif %}
                                        <td class="text-right">
                                            <div class="actions">
                                                <a
                                                    href="{% url 'hod:see_msg' id=i.id%}"
                                                    class="btn
                                                    btn-sm
                                                    bg-success-light
                                                    mr-2">
                                                    <i class="fas
                                                        fa-pen"></i>
                                                </a>
                                                <a href="{% url 'hod:delete_msg' id=i.id %}"
                                                    class="btn
                                                    btn-sm
                                                    bg-danger-light">
                                                    <i class="fas
                                                        fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock body %}